<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Отклик отправлен | Джуманджи</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

{% extends "public/base.html" %}

{% block content %}
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mt-5">
        <div class="card mb-3">
          <div class="card-body text-center pt-5">
            <img src="#" width="65" alt="">
            <h2 class="h5 card-title mt-4 mb-2">Отклик отправлен</h2>
            <input type="button" onclick="history.back()" value="Вернуться к вакансии"/>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% endblock content %}
