{% extends "public/base.html" %}

{% block content %}
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" href="{% url "my_company" %}">1. Информация о&nbsp;компании</a>
            <a class="nav-link active" href="{% url "company_vacancies" %}">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">

        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Вакансии</h2>
              <!-- vacancy state 1 -->
              {% for vacancy in vacancy_list %}
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a href="{% url "update_vacancy" vacancy.id %}" class="mb-1">{{  vacancy.title }}</a>
                      <p class="mb-1">
                        <span class="mr-4">до {{ vacancy.salary_max }}</span><a class="text-info" >отклики: {{ vacancy.applications.count }} </a>
                      </p>
                    </div>
                    <div class="col-6 col-lg-4 text-right">
                      <a href="{% url "update_vacancy" vacancy.id %}" class="btn btn-outline-info">Изменить</a>
                    </div>
                  </div>
                </div>
              </div>
                {% endfor %}

              <div class="form-group pt-4">
              <a href="{% url "create_vacancy" %}" class="btn btn-info">Добавить вакансию</a>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
